 .content-title {
     position: absolute;
     text-align: left;
     top: 42%;
     width: 80%;
 }
 
 .content-text {
     color: #fff;
 }
 
 .content-title2 {
     position: absolute;
     text-align: left;
     top: 110%;
     width: 80%;
 }